* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-height: 100%;
    margin: auto;
    background-color: #ffffff;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
}

.l-side {
    display: flex;
    align-items: center;

}

.r-side {
    display: flex;
    align-items: center;
}

.l-links ul {
    display: flex;
    list-style: none;
}

.l-links a {
    font-size: 1rem;
    color: #000000;
    padding: 1rem;
    text-decoration: none;
}

.r-links ul {
    display: flex;
    list-style: none;
}

.r-links a {
    font-size: 1rem;
    color: #000000;
    padding: 1rem;
    text-decoration: none;
}

.r-side-button {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #0561FC;
    border: none;
    text-decoration: none;
}

/* Titoli header */

#hero-section {
    width: 100%;
    padding: 1rem;
    background-color: #B4D0E7;
    background-size: cover;
    display: flex;
    flex-direction: column;
}


.title {
    display: flex;
    margin: auto;
    width: 60%;
    font-size: 2.5rem;
    padding: .5rem;
    
}

.sub-hero-section {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 70%;
    height: 100%;
}

.img-section {
    width: 70%;
    display: flex;
    margin-bottom: -6rem;
}

.img-section img {
    margin-top: 1rem;
    width: 100%;
}

.text-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    width: 30%;
}

.text-section p {
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text-section i {
    font-size: 1em;
}

.hs-button {
    padding: 1rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #0561FC;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    text-decoration: none;
}

/* Main Section */

main {
    max-height: 100%;
}

/* First Section */

.first-container {
    width: 60%;
    height: 70%;
    margin: auto;
    margin-top: 7rem;
}

.first-container h2 {
    font-size: 3rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.radio-container [type="radio"] {
    display: none;
    margin-bottom: 2rem;
}

.radio-container label .fake-radio {
    content: "";
    border: 1px solid #0561FC;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
}

.radio-container label input:checked~.fake-radio {
    color: #0561FC;
    border-width: 5px;
}

.area {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;
    margin-top: 2rem;
    gap: 2rem;
}

.user-window {
    padding: .5rem;
    padding-bottom: 1rem;
    flex-direction: row;
    width: calc(33.3% - (4rem / 3));
    border: 1px solid black;
    text-align: center;
    line-height: 2.5rem;
}

.user-window h3 {
    font-size: 1rem;
    margin-top: .5rem;
    text-align: left;
}

.user-window h4 {
    font-size: .8rem;
    text-align: left;
}

.user-window p {
    font-size: 1rem;
    text-align: left;
}

.user-window ul {
    width: 100%;
    list-style: none;
    text-align: left;
}

.uw-icon {
    border-bottom: 1px solid black;
}

.uw-options {
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    margin-left: 1rem;
    margin-right: 2rem;
    text-indent: -10px;
}

.uw-options h4 {
    margin: 0;
    text-indent: 10px;
}

.uw-bottom {
    margin: auto;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    text-align: center;
    line-height: 2.5rem;
}

.uw-bottom-main {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
}
.uw-bottom-text {
    padding: 1rem;
}

.uw-bottom h3 {
    font-size: 1.6rem;
    margin-top: .3rem;
    text-align: left;
}

.uw-bottom h4 {
    font-size: 1rem;
    text-align: left;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.uw-bottom p {
    font-size: 1rem;
    text-align: left;
    margin-bottom: .5rem;
}

.hs-button-bottom {
    padding: 1rem;
    display: flex;
}

button.button {
    margin-top: .5em;
    align-self: flex-start;
    padding: 15px 15px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #0561FC;
    border: none;
    text-decoration: none;
}

/* Second Section */

.second-container {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.section2 {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 60%;
}

.image-section {
    width: 60%;
}

.image-section img {
    width: 100%;
}

.sc-text-section {
    padding: 2rem;
    width: 40%;
}

.sc-text-section h2 {
    font-size: 2rem;
    line-height: .3m;
}

.sc-text-section p {
    margin-top: 1.5em;
    font-size: 1.3em;
    line-height: 1.5em;
}

.sc-button {
    margin-top: .5em;
    align-self: flex-start;
    padding: 15px 15px;
    font-size: 20px;
    color: #080808;
    background-color: #ffffff;
    border: 1px solid #080808;
    text-decoration: none;
}

.image-section {
    display: flex;
    width: 60%;
}

/* Third Section */

.third-container {
    width: 100%;
    margin: auto;
    margin-top: 5rem;
}

.section3 {
    margin: auto;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 60%;
}

.s3-title {
    font-size: 2rem;
    height: 5rem;
    margin-bottom: 1rem;
}

.col {
    display: flex;
    height: 36rem;
    flex-basis: 33.3%;
    padding: 1rem;
    position: relative;
    flex-direction: column;
}

.col-img img {
    width: 15rem;
    margin-bottom: 1rem;
}

.col-text h3 {
    font-size: 1.8rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.col-text p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

/* Fourth Section */

.fourth-container {
    width: 100%;
    height: 28rem;
    margin: auto;
    display: flex;
}

.section4 {
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: start;
    height: 14rem;
    width: 50%;
}

.s4-title h2 {
    font-size: 3rem;
    margin-bottom: 6rem;
}

/* Fifth Section */

.fifth-container {
    display: flex;
}

.left-side {
    width: calc(100% / 3);
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
}

.centre {
    width: calc(100% / 3);
    aspect-ratio: 1/1;
}

.right-side {
    width: calc(100% / 3);
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
}

.left-side .box1, .box2, .box3, .box4 {
    display: flex;
    width: 50%;
    min-height: 1.3rem;
}

.right-side .box6, .box7, .box8, .box9 {
    display: flex;
    width: 50%;
    min-height: 1.3rem;
}

.box1 {
    background-color: #A2D39B;
}

.box2 {
    background-color: #610A2B;
}

.box3 {
    background-color: #0093CE;
}

.box4 {
    background-color: #FF2A1D;
}

.centre {
    background-color: #F5F5F5;
    padding: 5rem;
}

.box5 img {
    width: 20rem;
}

.centre .line {
    width: 20%;
    height: 3rem;
    border-bottom: 1px solid black;
    margin-bottom: 5rem;
}

.box6 {
    background-color: #D5211F;
}

.box7 {
    background-color: #B4D0E7;
}

.box8 {
    background-color: #0E2481;
}

.box9 {
    background-color: #FFD830;
}

.sponsor-box a img {
    margin: auto;
    align-self: center;
    justify-content: center;
    width: 10rem;
    height: 50%;
}

.file-svg {
    filter: invert(1)
}

.sponsor-box {
    height: 50%;
    align-items: center;
    justify-content: center;
}

/* Sixth Section */

.sixth-container {
    width: 100%;
    height: 30rem;
    margin: auto;
    display: flex;
    background-color: #B4D0E7;
}

.section6 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: auto;
    height: 10rem;
    width: 60%;
}

.s6-title h2 {
    color: #610A2B;
    display: flex;
    font-size: 3rem;
}

.s6-button {
    display: flex;
    padding: 1rem;
    font-size: 1rem;
    color: #080808;
    background-color: #ffffff;
    border: none;
}

/* Seventh Section */

.seventh-container {
    width: 100%;
    height: 40rem;
    margin: auto;
    display: flex;
}

.section7 {
    align-items: center;
    align-content: center;
    margin: auto;
    justify-content: start;
    height: 24rem;
    width: 60%;
}

.s7-title h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.s7-questions {
    display: flex;
    flex-direction: column;
}

.section7 p {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 5rem;
}

.fa-solid.fa-chevron-down {
    align-self: center;
}

/* Footer */

.footer {
    width: 100%;
    height: 50rem;
    margin: auto;
    display: flex;
    color: white;
    background-color: #000000;
}

.section8 {
    display: flex;
    margin: auto;
    height: 25rem;
    width: 60%;
    justify-content: space-between;
}

.section8 h3 {
    font-size: 2rem;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.section8 p {
    font-size: 1rem;
    line-height: 3rem;
    font-weight: lighter;
}

.section8 div {
    margin-bottom: 1rem;
}