* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-height: 100%;
    margin: auto;
    background-color: #ffffff;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 3em;
}

.l-side {
    display: flex;
    align-items: center;

}

.r-side {
    display: flex;
    align-items: center;
}

.l-links ul {
    display: flex;
    list-style: none;
}

.l-links a {
    font-size: 20px;
    color: #000000;
    padding: 0.5rem 2rem;
    text-decoration: none;
}

.r-links ul {
    display: flex;
    list-style: none;
}

.r-links a {
    font-size: 20px;
    color: #000000;
    padding: 0.5rem 2rem;
    text-decoration: none;
}

.r-side-button {
    padding: 10px 30px;
    font-size: 20px;
    color: #ffffff;
    background-color: #0561FC;
    border: none;
    text-decoration: none;
}

/* Titoli header */

#hero-section {
    width: 100%;
    height: 100%;
    padding: 50px;
    background-color: #B4D0E7;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.title {
    margin: auto;
    width: 60%;
    font-size: 4em;
    padding: .5em;
    display: flex;
}

.sub-hero-section {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
    height: 30em;
}

.text-section {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    width: 60%;
}

.text-section p {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.text-section i {
    font-size: 3em;
}

.hs-button {
    padding: 10px 30px;
    font-size: 20px;
    color: #ffffff;
    background-color: #0561FC;
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    text-decoration: none;
}

.img-section img {
    margin-top: 1.5em;
    width: 110%;
}

/* Main Section */

main {
    max-height: 100%;
}

/* First Section */

.first-container {
    width: 50%;
    height: 70%;
    margin: auto;
    margin-top: 10em;

}

.first-container h2 {
    font-size: 3rem;
    justify-content: center;
    margin-bottom: 1em;
}

.radio-container [type="radio"] {
    display: none;
}

.radio-container label .fake-radio {
    content: "";
    border: 1px solid #0561FC;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
}

.radio-container label input:checked~.fake-radio {
    color: #0561FC;
    border-width: 5px;
}

.area {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3em;
    margin-top: 2em;
    gap: 2rem;
}


.user-window {
    padding: .5rem;
    padding-bottom: 1em;
    flex-direction: row;
    width: calc(33.3% - (4rem / 3));
    border: 1px solid black;
    text-align: center;
    line-height: 2.5em;

}

.user-window h3 {
    font-size: 1.6em;
    margin-top: .5em;
    margin-left: 1em;
    text-align: left;
}

.user-window h4 {
    font-size: 1em;
    margin-left: 2em;
    text-align: left;
}

.user-window p {
    font-size: 1em;
    margin-left: 2em;
    text-align: left;
}

.user-window ul {
    list-style: none;
    text-align: left;

}

.uw-icon {
    border-bottom: 1px solid black;
}

.uw-options {
    font-size: .9em;
    margin-left: 2em;
    margin-right: 2em;
}

.uw-options p {
    margin: 0;
}

.uw-options h4 {
    margin: 0;
}

.uw-bottom {
    margin: auto;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    text-align: center;
    line-height: 2.5em;
}

.uw-bottom-main {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
}

.uw-bottom h3 {
    font-size: 1.6em;
    margin-top: .3em;
    text-align: left;
}

.uw-bottom h4 {
    font-size: 1em;
    text-align: left;
    margin-top: .5em;
    margin-bottom: .5em;
}

.uw-bottom p {
    font-size: 1em;
    text-align: left;
    margin-bottom: .5em;
}

.hs-button-bottom {
    display: flex;
}


button.button {
    margin-top: .5em;
    align-self: flex-start;
    padding: 15px 15px;
    font-size: 20px;
    color: #ffffff;
    background-color: #0561FC;
    border: none;
    text-decoration: none;
}

/* Second Section */

.second-container {
    width: 100%;
    height: 70%;
    margin: auto;
    margin-top: 10em;
    margin-bottom: 10em;
}

.section2 {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 40em;
}

.sc-text-section {
    padding: 4em 2em 1em 5em;
    width: 40%;
}

.sc-text-section h2 {
    font-size: 3rem;
    line-height: 1.3em;
}

.sc-text-section p {
    margin-top: 1.5em;
    font-size: 1.3em;
    line-height: 1.5em;
}

.sc-button {
    margin-top: .5em;
    align-self: flex-start;
    padding: 15px 15px;
    font-size: 20px;
    color: #080808;
    background-color: #ffffff;
    border: 1px solid #080808;
    text-decoration: none;
}

.image-section {
    display: flex;
    width: 60%;
}

/* Third Section */

.third-container {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 10em;
    margin-bottom: 2rem;
}

.section3 {
    margin: auto;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 50%;
}

.s3-title {
    font-size: 2rem;
    height: 4em;
}

.col {
    display: flex;
    height: 40em;
    flex-basis: 33.3%;
    padding: 2rem 2.5rem;
    position: relative;
    flex-direction: column;
}

.col-img img {
    width: 309px;
}

.col-text h3 {
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.col-text p {
    font-size: 1.2em;
    line-height: 1.5em;
}

/* Fourth Section */

.fourth-container {
    width: 100%;
    height: 30rem;
    margin: auto;
    display: flex;
}

.section4 {
    align-items: center;
    align-content: center;
    margin: auto;
    justify-content: start;
    height: 14rem;
    width: 50%;
}

.s4-title h2 {
    font-size: 3rem;
    margin-bottom: 6rem;
}

/* Fifth Section */

.fifth-container {
    display: flex;
}

.left-side {
    width: calc(100% / 3);
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
}

.centre {
    width: calc(100% / 3);
    aspect-ratio: 1/1;
}

.right-side {
    width: calc(100% / 3);
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
}

.left-side .box1, .box2, .box3, .box4 {
    display: flex;
    width: 50%;
    min-height: 20px;
}

.right-side .box6, .box7, .box8, .box9 {
    display: flex;
    width: 50%;
    min-height: 20px;
}

.box1 {
    height: 50%;
    background-color: #A2D39B;
}

.box1 a, img {
    margin: auto;
    align-self: center;
    justify-content: center;
    width: auto;
    height: 30%;
}

.box2 {
    height: 50%;
    background-color: #610A2B;
}

.box2 a, img {
    margin: auto;
    align-self: center;
    justify-content: center;
    width: auto;
    height: 70%;
}

.box3 {
    height: 50%;
    background-color: #0093CE;
}

.box3 a, img {
    margin: auto;
    align-self: center;
    justify-content: center;
    width: auto;
    height: 20%;
}

.box4 {
    height: 50%;
    background-color: #FF2A1D;
}

.box4 a, img {
    margin: auto;
    align-self: center;
    justify-content: center;
    width: auto;
    height: 45%;
}

.centre {
    background-color: #F5F5F5;
}

.box6 {
    height: 50%;
    background-color: #D5211F;
}
.box6 a, img {
    margin: auto;
    align-self: center;
    justify-content: center;
    width: auto;
    height: 40%;
}
.box7 {
    height: 50%;
    background-color: #B4D0E7;
}
.box7 a, img {
    margin: auto;
    align-self: center;
    justify-content: center;
    width: auto;
    height: 10%;
}
.box8 {
    height: 50%;
    background-color: #0E2481;
}
.box8 a, img {
    margin: auto;
    align-self: center;
    justify-content: center;
    width: auto;
    height: 50%;
}
.box9 {
    height: 50%;
    background-color: #FFD830;
}
.box9 a, img {
    margin: auto;
    align-self: center;
    justify-content: center;
    width: auto;
    height: 50%;
}

.file-svg {
    fill: white;
    margin: auto;
}

/* Sixth Section */

.sixth-container {
    width: 100%;
    height: 30rem;
    margin: auto;
    display: flex;
    background-color: #B4D0E7;
    border: 1px dashed red;
}

.section6 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: auto;
    height: 10rem;
    width: 50%;

}

.s6-title h2 {
    color: #610A2B;
    display: flex;
    font-size: 3rem;
}

.s6-button {
    display: flex;
    padding: 15px 15px;
    font-size: 20px;
    color: #080808;
    background-color: #ffffff;
    border: none;
}

/* Seventh Section */

.seventh-container {
    width: 100%;
    height: 50rem;
    margin: auto;
    display: flex;
}

.section7 {
    align-items: center;
    align-content: center;
    margin: auto;
    justify-content: start;
    height: 25rem;
    width: 50%;
}

.s7-title h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.s7-questions {
    display: flex;
    flex-direction: column;
}

.section7 p {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    line-height: 7rem;
}

.fa-solid.fa-chevron-down {
    align-self: center;
}

/* Footer */

.footer {
    width: 100%;
    height: 50rem;
    margin: auto;
    display: flex;
    color: white;
    background-color: #000000;
}

.section8 {
    display: flex;
    margin: auto;
    height: 25rem;
    width: 60%;
    justify-content: space-between;
}

.section8 h3 {
    font-size: 2rem;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.section8 p {
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: lighter;
}

.section8 div {
    margin-bottom: 1rem;
    hyphenate-character: ;
}